---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Social/Linkedin.astro'
import Github from '../icons/Social/Github.astro'
import Social_icons from '../components/Social_icons.astro'
import Gmail from '../icons/Social/Gmail.astro'
import Section from '../components/Section.astro';
import Section_tecno from '../components/Section_tecno.astro';
import Technologies from '../components/Technologies.astro';
import Code from '../icons/Titulos/Code.astro'
import Projects from '../components/Projects.astro'
import Certificates from '../components/Certificates.astro'
import About_me from '../components/About_me.astro'
import Cert_icon from '../icons/Titulos/Cert_icon.astro'
import Me_icons from '../icons/Titulos/Me_icon.astro'
import Section_aboutme from '../components/Section_aboutme.astro'
import Footer from '../components/Footer.astro'
import Section_certificates from '../components/Section_certificates.astro';
---

<Layout title="Personal Portfolio"
description="My goal is to grow as a developer by exploring new technologies, refining my problem-solving abilities, and applying best practices to create meaningful and efficient solutions.">
	<main class="px-4">
		<Section>
			<div class="flex ">
				<img class="rounded-full w-[200px] h-[200px] mb-4 object-cover" 
				src="/profile_picture.webp" alt="Diana"
			/> 
				<div class="flex flex-col ml-[25px]">
					<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold gap-x-5">
					I'm Diana
					</h1>
						<div class="flex items-center gap-4">
							<div class="flex items-center">
								<Badge> Open To Work </Badge>
							</div>
						<div class="flex gap-x-6 mt-3 flex-wrap">
								<Linkedin class="size-6 hover:scale-110 transition"/>
								<Github class="size-6 hover:scale-110 transition"/>
						</div>
						</div>

				</div>
			</div>
		<h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-{700px}">
			<span class="text-blue-300">Junior Fullstack Developer.</span><br> I'm from Colima, Mexico, and I have focused on mobile application development. My goal is to grow as a developer by exploring new technologies, refining my problem-solving abilities, and applying best practices to create meaningful and efficient solutions.
		</h2>
		
		</Section>
		<Section_tecno id="technologies">
			<Technologies/>
		</Section_tecno>
		<Section id="projects">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Code class="size-8 "/>Projects </h2>
			</div>
			<Projects/>
		</Section>
		<Section_certificates id="certificates">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Cert_icon class="size-8 "/>Certificates </h2>
			</div>
			<Certificates/>
		</Section_certificates>
		<Section_aboutme id="about_me">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Me_icons class="size-8 "/>About me </h2>
			</div>
			<About_me/>
		</Section_aboutme>
		<Footer/>
	</main>
	
</Layout>
