<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
        I’m Diana Campos, currently working at MagmaLabs as a <strong>Mobile Development Apprentice</strong> with React Native.
    </p> 
    <p>
        I am also enrolled in the ONE | Tech Advanced program with Oracle Next Education and Alura Latam, aiming to earn the <strong>Oracle Cloud Infrastructure Foundations Associate certification</strong>.
    </p>
    <p> 
        I am passionate about continuous learning, enjoy going to the gym, and in my free time I constantly seek opportunities to expand my knowledge—whether related to technology or other areas of personal growth. 
    </p>
    
   
</div>
<img src="/about-me-photo.webp" alt="About me" class="rounded-full size-80 "  >
</section>