<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center xl:w-4/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="xl:flex xl:flex-row xl:w-4/5 mx-auto gap-6 hidden ">
            <img src="https://app.aluracursos.com/assets/images/logos/logo-aluraespanhol.svg" class="w-24 h-12 object-contain" alt="Alura Latan"/>
            <img src="https://cdn2.gnarususercontent.com.br/1/1221562/b6256fa6-5fde-4cdd-a4a3-d33ebc90bb6c.png" class="object-contain" alt="Oracle Next Education"/>
        </div>
        <div class="flex-grow xl:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Java & Spring Framework G8 - ONE</h2>
            <p class="text-xl mb-2 font-semibold">Alura Latam - Oracle Next Education.</p>
            <p class="leading-relaxed text-base">This training featured two key hands-on challenges: Literalura, to practice creating and managing an API with Spring Boot, and Foro Hub, to strengthen skills in building a complete Spring Framework application.</p>
            <a href="https://app.aluracursos.com/degree/certificate/7578eaf1-1af2-4b1c-bada-d33ffaa018de" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View certificate</a>
        </div>
    </div>

    <div class="flex items-center xl:w-4/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow xl:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">ONE Tech Foundation G8 - Back End</h2>
            <p class="text-xl mb-2 font-semibold">Alura Latam - Oracle Next Education.</p>
            <p class="leading-relaxed text-base">This training focused on modern Java development with Spring, covering core topics such as lambdas, streams, data persistence with Spring Data JPA, and building APIs connected to the front end. It also included advanced modules on developing REST APIs with Spring Boot 3.</p>
            <a href="https://app.aluracursos.com/program/certificate/17099b35-abb5-4ff8-93dd-85b1f82eddb3" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View certificate</a>
        </div>
        <div class="xl:flex xl:flex-row xl:w-4/5 mx-auto gap-6 hidden pl-6">
            <img src="https://app.aluracursos.com/assets/images/logos/logo-aluraespanhol.svg" class="w-24 h-12 object-contain" alt="Alura Latan"/>
            <img src="https://cdn2.gnarususercontent.com.br/1/1221562/b6256fa6-5fde-4cdd-a4a3-d33ebc90bb6c.png" class="object-contain" alt="Oracle Next Education"/>
        </div>
    </div>

    <div class="flex items-center xl:w-4/5 mx-auto pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="xl:flex xl:flex-row xl:w-4/5 mx-auto gap-6 hidden">
            <img src="https://www.brightcoders.com/assets/logoBC-49c05b80.png" class="w-40 h-12 sm:mr-20 mb-4 sm:mb-0" alt="Bright"/>
        </div>
        <div class="flex-grow xl:text-left text-center mt-6 sm:mt-0 md:ml-4">
            <h2 class="text-white text-2xl mb-2 font-bold">React Native Mobile Developer Bootcamp</h2>
            <p class="text-xl mb-2 font-semibold">Bright Coders.</p>
            <p class="leading-relaxed text-base">I completed a bootcamp focused on mobile development with React Native and Expo, where I built cross-platform applications, worked with APIs and databases, and collaborated with teammates using GitHub.</p>
            <a href="https://bright-coders.github.io/certificates/class/bc-dic-23/BC1223003.pdf" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View certificate</a>
        </div>
</div>
