---
import Github from "../icons/Social/Github.astro"
import Linkedin from "../icons/Social/Linkedin.astro"
---

<footer class="opacity-80 m-4 w-full mx-auto container md:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
    <div class="rounded-lg w-full max-w-screen-xl mx-auto flex items-center justify-end py-4"> 
        <span class="text-sm sm:text-center flex items-center">
            <a href="https://github.com/Diana-Camz" target="_blank" 
            rel="noopener noreferrer" class="hover:underline flex items-center ml-2">
                <Github class="size-10 mr-2 hover:scale-125 transition"/>
            </a>
        </span>
        <span class="text-sm sm:text-center flex items-center">
            <a href="https://www.linkedin.com/in/diana-camz" target="_blank" 
            rel="noopener noreferrer" class="hover:underline flex items-center ml-2">
                <Linkedin class="size-10 mr-2 hover:scale-125 transition"/>
            </a>
        </span>
    </div> 
</footer>
